/* Google font-outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Tailwindcss */
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

@theme{

  --color-primary: #f84565; 
  border-radius: 32px;
/* background: linear-gradient(270deg, rgba(193, 18, 120, 0.70) 6.73%, rgba(193, 18, 120, 0.00) 100%), linear-gradient(180deg, rgba(17, 132, 239, 0.88) 71.15%, rgba(10, 76, 137, 0.88) 100%); */
  --color-primary-dull: #d63854;
}

body{
  color: white;
  background-color: #0f1014;
}

.navhover {
  /* Use @apply to group existing Tailwind utilities */
  @apply 
    hover:text-blue-300;
}