/* Google font-outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Tailwindcss */
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

@theme{

  --color-primary: rgba(69, 144, 248, 0.41);

  /* --color-primary-dull: #d63854; */
}

.bg-hero-gradient {
  border-radius: 32px;
background: linear-gradient(277deg, rgba(193, 18, 120, 0.77) 21.01%, rgba(193, 18, 120, 0.00) 73.97%), linear-gradient(0deg, rgba(17, 132, 239, 0.87) 0%, rgba(17, 132, 239, 0.87) 100%);
}


.blurcicle1{
  fill: linear-gradient(180deg, rgba(17, 116, 212, 0.21) 37.12%, rgba(193, 18, 120, 0.21) 77.68%), linear-gradient(0deg, rgba(17, 132, 239, 0.41) 0%, rgba(17, 132, 239, 0.41) 100%);
}

body{
  color: white;
  background-color: #0f1014;
}

.navhover {
  /* Use @apply to group existing Tailwind utilities */
  @apply 
    hover:text-blue-300;
}

.noscrollbar{
  scrollbar-width: none;
}