/* Google font-outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Tailwindcss */
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

@theme{

  --color-primary: #f84565; 
  --color-primary-dull: #d63854;
}

body{
  color: white;
  background-color: #1e1e1e;
}

.navhover {
  /* Use @apply to group existing Tailwind utilities */
  @apply 
    hover:text-blue-300;
}